<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <title>home</title>
</head>
<body>
<div class="container"><br>
    <h1>Admin Home</h1>
    <li role="presentation" class="header-panel"><a href="/logout">Logout </span></a></li>
    <li role="presentation"><a href="/addCollection">Database manager</a></li>
    <li role="presentation"><a href="/addDog">add Dog </a></li>
    <li role="presentation"><a href="/addCat">add Cat</a></li>
    <li role="presentation"><a href="/addUser">add User </a></li>
    <li role="presentation"><a href="/readDog">read dogs</a></li>
    <li role="presentation"><a href="/readCat">read cats </a></li>
    <li role="presentation"><a href="/searchDog">search dogs </a></li>
    <li role="presentation"><a href="/searchCat">search cats </a></li>
    <li role="presentation"><a href="/updateDog">update dogs </a></li>
    <li role="presentation"><a href="/updateCat">update cats </a></li>
    <li role="presentation"><a href="/deleteDog">delete dogs </a></li>
    <li role="presentation"><a href="/deleteCat">delete cats </a></li>
</div>
</body>
</html>