<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <title>Login</title>
</head>
<body>
<div class="container"><br>

    <form action="#" method="post" th:action="@{/login}" th:object="${user}">
        <div class="form-group">
            <p>user ID: <br><label>
                <input class="form-control" required="required" th:field="*{username}" type="text"/>
            </label></p>
            <p>password: <br><label>
                <input class="form-control" required="required" th:field="*{password}" type="password"/>
            </label></p>
            <p>role: <br><label>
                <input name="user" th:field="*{role}" type="radio" value="user">
                <label>user</label>
                <input name="admin" th:field="*{role}" type="radio" value="admin">
                <label>admin</label>
            </label></p>
            <p><input class="btn btn-primary mb-2" type="submit" value="Submit"/></p>
        </div>
    </form>
</div>
</body>
</html>